p.caption {
  color: #777;
  margin-top: 10px;
  font-size: .833em !important;
  text-align: left;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
div.infobox {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  font-size: .833em !important;
  background-color: #eef7fa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(82,173,200,0.25);
}

div.infobox img {
  display: block;
  margin: 0 auto;
}

.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}

#header h4 {
  margin: 0;
  color: #666;
}

#header h4 em {
  font-style: normal;
}

#header h4.date {
  margin-bottom: 2em;
}
